In [2]:
import pandas as pd
import ast
import nltk

In [6]:
car = pd.read_csv('urban_drive.cars.csv')

In [7]:
car

,_id,userId,CarRegistrationNumber,carBrand,carModel,yearOfRegistration,city,kmDriven,chassisNumber,fuelType,...,bodyType,startDate,startTime,endDate,endTime,coverImageBytes,exteriorImageBytes,interiorImageBytes,created_at,is_available
0,67a44e5c0bf8529e3b398e3e,67a44d3b0bf8529e3b398e3d,GJ33AB1234,HUNDAI,I20,2024,BOTAD,40-60k,45F8AF5A6F165A6A5,Petrol,...,Wagon,2025-03-01T00:00:00.000,2:00 PM,2025-03-20T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQAAAQABAAD//gA7Q1JFQVRPUjogZ2...,/9j/4AAQSkZJRgABAQAAAQABAAD/4gIoSUNDX1BST0ZJTE...,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFx...,2025-02-06T11:23:32.663Z,True
1,67a720087dc645ca9a17c76f,67a44d3b0bf8529e3b398e3d,GJ05DF4545,TOYOTA,ENOVA,2020,SURAT,>60k,50466456454646464,CNG,...,SUV,2025-02-28T00:00:00.000,12:00 AM,2025-03-28T00:00:00.000,12:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7SrmUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7TCcUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7TGsUGhvdG9zaG9wID...,2025-02-08T14:42:40.098Z,True
2,67a721a17dc645ca9a17c771,67a44d3b0bf8529e3b398e3d,GJ02DS1232,KIA,SELTOS,2022,BOTAD,>60k,JASDFS35D6F5SDFSD,EV,...,SUV,2025-03-10T00:00:00.000,12:00 AM,2025-03-31T00:00:00.000,2:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R3eUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R8QUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7QCUUGhvdG9zaG9wID...,2025-02-08T14:49:29.683Z,True
3,67a722187dc645ca9a17c772,67a44d3b0bf8529e3b398e3d,GJ02AS6398,TATA,NEXON,2023,SURAT,40-60k,54F54545S45FSD45F,EV,...,Hatchback,2025-03-15T00:00:00.000,2:00 PM,2025-04-10T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQAAAQABAAD/4gxYSUNDX1BST0ZJTE...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7QCUUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R2GUGhvdG9zaG9wID...,2025-02-08T14:51:28.977Z,True
4,67a725c87dc645ca9a17c776,67a44ea30bf8529e3b398e3f,GJ12SA2055,BMW,IX1,2018,GANDHINAGAR,>60k,D45FD5F5SD5FDFD55,Petrol,...,Wagon,2025-02-27T00:00:00.000,8:00 PM,2025-03-07T00:00:00.000,8:00 PM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7RwEUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7RsMUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7QCUUGhvdG9zaG9wID...,2025-02-08T15:07:12.855Z,False
5,67b31895adbb1a240b39f932,67a44ea30bf8529e3b398e3f,GJ05RT1285,AUDI,A7,2022,SURAT,40-60k,HD54H1H1464646S6A,Petrol,...,Sedan,2025-03-25T00:00:00.000,2:00 PM,2025-04-25T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBw...,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBw...,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBw...,2025-02-17T16:38:05.441Z,True
6,67b31926adbb1a240b39f933,67a44ea30bf8529e3b398e3f,GJ14BG4152,AUDI,A6,2021,RAJKOT,40-60k,UHHW646456T4WT564,Petrol,...,Sedan,2025-03-15T00:00:00.000,2:00 PM,2025-03-25T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQAAAQABAAD/7AARRHVja3kAAQAEAA...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7QCUUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7QCUUGhvdG9zaG9wID...,2025-02-17T16:40:30.841Z,True
7,67bc2b52ec4da4d84b01530c,67bc285fec4da4d84b01530a,GJ58BD5533,BMW,IX1,2023,SURAT,40-60k,46468849851312046,Petrol,...,Convertible,2025-02-27T00:00:00.000,2:00 PM,2025-03-16T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R7CUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R+8UGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R06UGhvdG9zaG9wID...,2025-02-24T13:48:26.080Z,True
8,67bdba440ecc4dd2ebea7be4,67a5a50c1e5126344321d61d,RJ12SD2587,HYUNDAI,AURA,2021,DUNGARPUR,40-60k,5D6S5F6SD5F65SD6F,Petrol,...,Sedan,2025-03-07T00:00:00.000,2:00 PM,2025-03-31T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQEAkACQAAD/7AARRHVja3kAAQAEAA...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7RhoUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R4cUGhvdG9zaG9wID...,2025-02-25T18:10:36.295Z,True
9,67c00ba073f9bf9d9fdc132e,67a44ea30bf8529e3b398e3f,GJ02JK8520,BMW,X7,2022,BARODA,40-60k,8185123C1A5454300,EV,...,Convertible,2025-03-07T00:00:00.000,2:00 PM,2025-03-26T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7SxyUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7RywUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/4RCyRXhpZgAATU0AKg...,2025-02-27T12:22:16.535Z,True
10,67c0577c77a08aa05af0bc91,67a5a50c1e5126344321d61d,RJ08DF1265,SKODA,ELROQ,2024,UDAIPUR,20-40k,6489494984948D949,Petrol,...,Hatchback,2025-03-20T00:00:00.000,1:00 AM,2025-04-30T00:00:00.000,8:00 PM,/9j/4AAQSkZJRgABAQEASABIAAD/4gHYSUNDX1BST0ZJTE...,/9j/4AAQSkZJRgABAQEASABIAAD/4gHYSUNDX1BST0ZJTE...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7TDQUGhvdG9zaG9wID...,2025-02-27T17:45:56.003Z,True
11,67c058dd77a08aa05af0bc92,67a5a50c1e5126344321d61d,GJ03RF4130,VOLKSWAGEN,VIRTUS,2023,RAJKOT,40-60k,489A949F9849A4989,Petrol,...,Sedan,2025-03-11T00:00:00.000,2:00 PM,2025-03-31T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7SpmUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7SUgUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEASABIAAD/4QA6RXhpZgAATU0AKg...,2025-02-27T17:51:49.582Z,True
12,67c0599077a08aa05af0bc93,67a5a50c1e5126344321d61d,GJ33MK1710,KIA,EV6,2025,BOTAD,0-20k,4898V4S94S98G4S94,EV,...,SUV,2025-03-20T00:00:00.000,7:00 PM,2025-04-20T00:00:00.000,8:00 PM,/9j/4AAQSkZJRgABAQEASABIAAD/4gIoSUNDX1BST0ZJTE...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7RomUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7QCUUGhvdG9zaG9wID...,2025-02-27T17:54:48.041Z,True
13,67c05b5177a08aa05af0bc94,67aae542908f8c7a8e8da300,GJ04WS5967,KIA,EV9,2024,BHAVNAGAR,20-40k,48Q9R2949048949W8,EV,...,Wagon,2025-03-02T00:00:00.000,2:00 PM,2025-03-20T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQAAYABgAAD/2wBDAAYEBQYFBAYGBQ...,/9j/4AAQSkZJRgABAQAAYABgAAD/2wBDAAYEBQYFBAYGBQ...,/9j/4AAQSkZJRgABAQAAYABgAAD/2wBDAAYEBQYFBAYGBQ...,2025-02-27T18:02:17.836Z,True
14,67c05c3577a08aa05af0bc95,67aae542908f8c7a8e8da300,GJ03WS4100,TOYOTA,FORTUNER,2023,RAJKOT,20-40k,8654F6W4F6W8F6F00,Diesel,...,SUV,2025-03-10T00:00:00.000,2:00 PM,2025-03-31T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQAAAQABAAD/4QB4RXhpZgAASUkqAA...,/9j/4AAQSkZJRgABAQAAAQABAAD/7AARRHVja3kAAQAEAA...,/9j/4AAQSkZJRgABAQAAAQABAAD/7AARRHVja3kAAQAEAA...,2025-02-27T18:06:05.694Z,True
15,67c05d0077a08aa05af0bc96,67aae542908f8c7a8e8da300,GJ18PQ8541,TOYOTA,CAMRY,2020,GANDHINAGAR,40-60k,5R68R486486048646,Petrol,...,Sedan,2025-03-11T00:00:00.000,2:00 PM,2025-03-25T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7SWUUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7SM4UGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R1cUGhvdG9zaG9wID...,2025-02-27T18:09:28.230Z,True
16,67c05e0177a08aa05af0bc97,67aae542908f8c7a8e8da300,GJ14NG7463,VOLKSWAGEN,TAIGUN,2018,AMRELI,40-60k,68WE9689W840W86G9,Diesel,...,Wagon,2025-03-14T00:00:00.000,2:00 PM,2025-03-31T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7SC4UGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R6oUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7TMYUGhvdG9zaG9wID...,2025-02-27T18:13:45.928Z,True
17,67c05f2e77a08aa05af0bc98,67aae542908f8c7a8e8da300,GJ33HM1920,TATA,CURVV,2024,BOTAD,40-60k,54688F048699408R,Petrol,...,Sedan,2025-03-19T00:00:00.000,2:00 PM,2025-04-01T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7RwwUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R3mUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7TtGUGhvdG9zaG9wID...,2025-02-27T18:18:46.151Z,True
18,67c0604a77a08aa05af0bc99,67bc285fec4da4d84b01530a,GJ38VF8520,TATA,PUNCH,2019,DWARKA,40-60k,684989F08Q099774Q,CNG,...,Wagon,2025-03-05T00:00:00.000,2:00 PM,2025-03-30T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7SsEUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7SkEUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7SiMUGhvdG9zaG9wID...,2025-02-27T18:23:30.175Z,True
19,67c0611c77a08aa05af0bc9a,67bc285fec4da4d84b01530a,GJ16RT7200,HONDA,CITY,2018,KUTCH,>60k,89898F9F045456456,Petrol,...,Sedan,2025-03-04T00:00:00.000,2:00 PM,2025-03-23T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7RvsUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7RrWUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7QCUUGhvdG9zaG9wID...,2025-02-27T18:27:00.543Z,True
20,67c061bb77a08aa05af0bc9b,67bc285fec4da4d84b01530a,GJ19VD6489,AUDI,Q5,2022,UDAIPUR,40-60k,889F49W0404994989,HYBRID,...,Wagon,2025-03-01T00:00:00.000,2:00 PM,2025-03-29T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7RzYUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7RqQUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7QCUUGhvdG9zaG9wID...,2025-02-27T18:29:39.529Z,True
21,67c5a75d01a865d0b18eb222,67c5a5b701a865d0b18eb221,GJ39SB8569,RENAULT,KWID,2018,IDAR,>60k,494648999XSC64844,CNG,...,Hatchback,2025-03-05T00:00:00.000,2:00 PM,2025-04-05T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R6MUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R6uUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEAYABgAAD/7AARRHVja3kAAQAEAA...,2025-03-03T18:28:05.928Z,True

In [10]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    22 non-null     object
 1   userId                 22 non-null     object
 2   CarRegistrationNumber  22 non-null     object
 3   carBrand               22 non-null     object
 4   carModel               22 non-null     object
 5   yearOfRegistration     22 non-null     int64
 6   city                   22 non-null     object
 7   kmDriven               22 non-null     object
 8   chassisNumber          22 non-null     object
 9   fuelType               22 non-null     object
 10  transmissionType       22 non-null     object
 11  pricePerHour           22 non-null     int64
 12  pickupLocation         22 non-null     object
 13  seatingCapacity        22 non-null     int64
 14  bodyType               22 non-null     object
 15  startDate              22 non-null     object
 16  startTime              22 non-null     object
 17  endDate                22 non-null     object
 18  endTime                22 non-null     object
 19  coverImageBytes        22 non-null     object
 20  exteriorImageBytes     22 non-null     object
 21  interiorImageBytes     22 non-null     object
 22  created_at             22 non-null     object
 23  is_available           22 non-null     bool
dtypes: bool(1), int64(3), object(20)
memory usage: 4.1+ KB

In [12]:

car = car[["_id","carBrand", "carModel","yearOfRegistration", "fuelType", "transmissionType", "bodyType", "city"]]

In [14]:
car

,_id,carBrand,carModel,yearOfRegistration,fuelType,transmissionType,bodyType,city
0,67a44e5c0bf8529e3b398e3e,HUNDAI,I20,2024,Petrol,Automatic,Wagon,BOTAD
1,67a720087dc645ca9a17c76f,TOYOTA,ENOVA,2020,CNG,Manual,SUV,SURAT
2,67a721a17dc645ca9a17c771,KIA,SELTOS,2022,EV,Automatic,SUV,BOTAD
3,67a722187dc645ca9a17c772,TATA,NEXON,2023,EV,Automatic,Hatchback,SURAT
4,67a725c87dc645ca9a17c776,BMW,IX1,2018,Petrol,Automatic,Wagon,GANDHINAGAR
5,67b31895adbb1a240b39f932,AUDI,A7,2022,Petrol,Manual,Sedan,SURAT
6,67b31926adbb1a240b39f933,AUDI,A6,2021,Petrol,Manual,Sedan,RAJKOT
7,67bc2b52ec4da4d84b01530c,BMW,IX1,2023,Petrol,Manual,Convertible,SURAT
8,67bdba440ecc4dd2ebea7be4,HYUNDAI,AURA,2021,Petrol,Manual,Sedan,DUNGARPUR
9,67c00ba073f9bf9d9fdc132e,BMW,X7,2022,EV,Automatic,Convertible,BARODA
10,67c0577c77a08aa05af0bc91,SKODA,ELROQ,2024,Petrol,Automatic,Hatchback,UDAIPUR
11,67c058dd77a08aa05af0bc92,VOLKSWAGEN,VIRTUS,2023,Petrol,Automatic,Sedan,RAJKOT
12,67c0599077a08aa05af0bc93,KIA,EV6,2025,EV,Automatic,SUV,BOTAD
13,67c05b5177a08aa05af0bc94,KIA,EV9,2024,EV,Automatic,Wagon,BHAVNAGAR
14,67c05c3577a08aa05af0bc95,TOYOTA,FORTUNER,2023,Diesel,Automatic,SUV,RAJKOT
15,67c05d0077a08aa05af0bc96,TOYOTA,CAMRY,2020,Petrol,Manual,Sedan,GANDHINAGAR
16,67c05e0177a08aa05af0bc97,VOLKSWAGEN,TAIGUN,2018,Diesel,Manual,Wagon,AMRELI
17,67c05f2e77a08aa05af0bc98,TATA,CURVV,2024,Petrol,Automatic,Sedan,BOTAD
18,67c0604a77a08aa05af0bc99,TATA,PUNCH,2019,CNG,Manual,Wagon,DWARKA
19,67c0611c77a08aa05af0bc9a,HONDA,CITY,2018,Petrol,Manual,Sedan,KUTCH
20,67c061bb77a08aa05af0bc9b,AUDI,Q5,2022,HYBRID,Manual,Wagon,UDAIPUR
21,67c5a75d01a865d0b18eb222,RENAULT,KWID,2018,CNG,Manual,Hatchback,IDAR

In [16]:
#car['carBrand'] = car['carBrand'].apply(convert)

In [18]:
#ast.literal_eval(car['carBrand'])

In [20]:
columns_to_lower = ["carBrand", "carModel", "fuelType", "transmissionType", "bodyType", "city"]
car.loc[:, columns_to_lower] = car[columns_to_lower].astype(str).apply(lambda x: x.str.lower())

In [22]:
columns_to_lower

['carBrand', 'carModel', 'fuelType', 'transmissionType', 'bodyType', 'city']

In [24]:
car['carBrand'].dtype

dtype('O')

In [26]:
print(type(car['carBrand'].iloc[0]))  # Check the type of the first value

<class 'str'>

In [35]:
import ast

columns_to_list = ["carBrand", "carModel", "fuelType", "transmissionType", "bodyType", "city"]

for col in columns_to_list:
    car.loc[:, col] = car[col].astype(str).apply(lambda x: ast.literal_eval(x))

ValueError: malformed node or string on line 1: <ast.Name object at 0x0000027DE09D9590>

In [28]:
car

,_id,carBrand,carModel,yearOfRegistration,fuelType,transmissionType,bodyType,city
0,67a44e5c0bf8529e3b398e3e,hundai,i20,2024,petrol,automatic,wagon,botad
1,67a720087dc645ca9a17c76f,toyota,enova,2020,cng,manual,suv,surat
2,67a721a17dc645ca9a17c771,kia,seltos,2022,ev,automatic,suv,botad
3,67a722187dc645ca9a17c772,tata,nexon,2023,ev,automatic,hatchback,surat
4,67a725c87dc645ca9a17c776,bmw,ix1,2018,petrol,automatic,wagon,gandhinagar
5,67b31895adbb1a240b39f932,audi,a7,2022,petrol,manual,sedan,surat
6,67b31926adbb1a240b39f933,audi,a6,2021,petrol,manual,sedan,rajkot
7,67bc2b52ec4da4d84b01530c,bmw,ix1,2023,petrol,manual,convertible,surat
8,67bdba440ecc4dd2ebea7be4,hyundai,aura,2021,petrol,manual,sedan,dungarpur
9,67c00ba073f9bf9d9fdc132e,bmw,x7,2022,ev,automatic,convertible,baroda
10,67c0577c77a08aa05af0bc91,skoda,elroq,2024,petrol,automatic,hatchback,udaipur
11,67c058dd77a08aa05af0bc92,volkswagen,virtus,2023,petrol,automatic,sedan,rajkot
12,67c0599077a08aa05af0bc93,kia,ev6,2025,ev,automatic,suv,botad
13,67c05b5177a08aa05af0bc94,kia,ev9,2024,ev,automatic,wagon,bhavnagar
14,67c05c3577a08aa05af0bc95,toyota,fortuner,2023,diesel,automatic,suv,rajkot
15,67c05d0077a08aa05af0bc96,toyota,camry,2020,petrol,manual,sedan,gandhinagar
16,67c05e0177a08aa05af0bc97,volkswagen,taigun,2018,diesel,manual,wagon,amreli
17,67c05f2e77a08aa05af0bc98,tata,curvv,2024,petrol,automatic,sedan,botad
18,67c0604a77a08aa05af0bc99,tata,punch,2019,cng,manual,wagon,dwarka
19,67c0611c77a08aa05af0bc9a,honda,city,2018,petrol,manual,sedan,kutch
20,67c061bb77a08aa05af0bc9b,audi,q5,2022,hybrid,manual,wagon,udaipur
21,67c5a75d01a865d0b18eb222,renault,kwid,2018,cng,manual,hatchback,idar

In [30]:
car["tags"] = (
    car["carBrand"] + " " +
    car["carModel"] + " " +
    car["fuelType"] + " " +
    car["transmissionType"] + " " +
    car["bodyType"] + " " +
    car["city"]
)

C:\Users\Nayan\AppData\Local\Temp\ipykernel_21828\4000486190.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car["tags"] = (

In [82]:
car

,_id,carBrand,carModel,yearOfRegistration,fuelType,transmissionType,bodyType,city,tags
0,67a44e5c0bf8529e3b398e3e,hundai,i20,2024,petrol,automatic,wagon,botad,hundai i20 petrol automatic wagon botad
1,67a720087dc645ca9a17c76f,toyota,enova,2020,cng,manual,suv,surat,toyota enova cng manual suv surat
2,67a721a17dc645ca9a17c771,kia,seltos,2022,ev,automatic,suv,botad,kia seltos ev automatic suv botad
3,67a722187dc645ca9a17c772,tata,nexon,2023,ev,automatic,hatchback,surat,tata nexon ev automatic hatchback surat
4,67a725c87dc645ca9a17c776,bmw,ix1,2018,petrol,automatic,wagon,gandhinagar,bmw ix1 petrol automatic wagon gandhinagar
5,67b31895adbb1a240b39f932,audi,a7,2022,petrol,manual,sedan,surat,audi a7 petrol manual sedan surat
6,67b31926adbb1a240b39f933,audi,a6,2021,petrol,manual,sedan,rajkot,audi a6 petrol manual sedan rajkot
7,67bc2b52ec4da4d84b01530c,bmw,ix1,2023,petrol,manual,convertible,surat,bmw ix1 petrol manual convertible surat
8,67bdba440ecc4dd2ebea7be4,hyundai,aura,2021,petrol,manual,sedan,dungarpur,hyundai aura petrol manual sedan dungarpur
9,67c00ba073f9bf9d9fdc132e,bmw,x7,2022,ev,automatic,convertible,baroda,bmw x7 ev automatic convertible baroda
10,67c0577c77a08aa05af0bc91,skoda,elroq,2024,petrol,automatic,hatchback,udaipur,skoda elroq petrol automatic hatchback udaipur
11,67c058dd77a08aa05af0bc92,volkswagen,virtus,2023,petrol,automatic,sedan,rajkot,volkswagen virtus petrol automatic sedan rajkot
12,67c0599077a08aa05af0bc93,kia,ev6,2025,ev,automatic,suv,botad,kia ev6 ev automatic suv botad
13,67c05b5177a08aa05af0bc94,kia,ev9,2024,ev,automatic,wagon,bhavnagar,kia ev9 ev automatic wagon bhavnagar
14,67c05c3577a08aa05af0bc95,toyota,fortuner,2023,diesel,automatic,suv,rajkot,toyota fortuner diesel automatic suv rajkot
15,67c05d0077a08aa05af0bc96,toyota,camry,2020,petrol,manual,sedan,gandhinagar,toyota camry petrol manual sedan gandhinagar
16,67c05e0177a08aa05af0bc97,volkswagen,taigun,2018,diesel,manual,wagon,amreli,volkswagen taigun diesel manual wagon amreli
17,67c05f2e77a08aa05af0bc98,tata,curvv,2024,petrol,automatic,sedan,botad,tata curvv petrol automatic sedan botad
18,67c0604a77a08aa05af0bc99,tata,punch,2019,cng,manual,wagon,dwarka,tata punch cng manual wagon dwarka
19,67c0611c77a08aa05af0bc9a,honda,city,2018,petrol,manual,sedan,kutch,honda city petrol manual sedan kutch
20,67c061bb77a08aa05af0bc9b,audi,q5,2022,hybrid,manual,wagon,udaipur,audi q5 hybrid manual wagon udaipur
21,67c5a75d01a865d0b18eb222,renault,kwid,2018,cng,manual,hatchback,idar,renault kwid cng manual hatchback idar

In [84]:
new_df = car[['_id','carBrand','carModel','tags']]

In [86]:
new_df

,_id,carBrand,carModel,tags
0,67a44e5c0bf8529e3b398e3e,hundai,i20,hundai i20 petrol automatic wagon botad
1,67a720087dc645ca9a17c76f,toyota,enova,toyota enova cng manual suv surat
2,67a721a17dc645ca9a17c771,kia,seltos,kia seltos ev automatic suv botad
3,67a722187dc645ca9a17c772,tata,nexon,tata nexon ev automatic hatchback surat
4,67a725c87dc645ca9a17c776,bmw,ix1,bmw ix1 petrol automatic wagon gandhinagar
5,67b31895adbb1a240b39f932,audi,a7,audi a7 petrol manual sedan surat
6,67b31926adbb1a240b39f933,audi,a6,audi a6 petrol manual sedan rajkot
7,67bc2b52ec4da4d84b01530c,bmw,ix1,bmw ix1 petrol manual convertible surat
8,67bdba440ecc4dd2ebea7be4,hyundai,aura,hyundai aura petrol manual sedan dungarpur
9,67c00ba073f9bf9d9fdc132e,bmw,x7,bmw x7 ev automatic convertible baroda
10,67c0577c77a08aa05af0bc91,skoda,elroq,skoda elroq petrol automatic hatchback udaipur
11,67c058dd77a08aa05af0bc92,volkswagen,virtus,volkswagen virtus petrol automatic sedan rajkot
12,67c0599077a08aa05af0bc93,kia,ev6,kia ev6 ev automatic suv botad
13,67c05b5177a08aa05af0bc94,kia,ev9,kia ev9 ev automatic wagon bhavnagar
14,67c05c3577a08aa05af0bc95,toyota,fortuner,toyota fortuner diesel automatic suv rajkot
15,67c05d0077a08aa05af0bc96,toyota,camry,toyota camry petrol manual sedan gandhinagar
16,67c05e0177a08aa05af0bc97,volkswagen,taigun,volkswagen taigun diesel manual wagon amreli
17,67c05f2e77a08aa05af0bc98,tata,curvv,tata curvv petrol automatic sedan botad
18,67c0604a77a08aa05af0bc99,tata,punch,tata punch cng manual wagon dwarka
19,67c0611c77a08aa05af0bc9a,honda,city,honda city petrol manual sedan kutch
20,67c061bb77a08aa05af0bc9b,audi,q5,audi q5 hybrid manual wagon udaipur
21,67c5a75d01a865d0b18eb222,renault,kwid,renault kwid cng manual hatchback idar

In [88]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=500, stop_words='english')

In [90]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [92]:
vectors

array([[0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [94]:
cv.get_feature_names_out()

array(['a6', 'a7', 'amreli', 'audi', 'aura', 'automatic', 'baroda',
       'bhavnagar', 'bmw', 'botad', 'camry', 'city', 'cng', 'convertible',
       'curvv', 'diesel', 'dungarpur', 'dwarka', 'elroq', 'enova', 'ev',
       'ev6', 'ev9', 'fortuner', 'gandhinagar', 'hatchback', 'honda',
       'hundai', 'hybrid', 'hyundai', 'i20', 'idar', 'ix1', 'kia',
       'kutch', 'kwid', 'manual', 'nexon', 'petrol', 'punch', 'q5',
       'rajkot', 'renault', 'sedan', 'seltos', 'skoda', 'surat', 'suv',
       'taigun', 'tata', 'toyota', 'udaipur', 'virtus', 'volkswagen',
       'wagon', 'x7'], dtype=object)

In [96]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [98]:
new_df['tags']

0             hundai i20 petrol automatic wagon botad
1                   toyota enova cng manual suv surat
2                   kia seltos ev automatic suv botad
3             tata nexon ev automatic hatchback surat
4          bmw ix1 petrol automatic wagon gandhinagar
5                   audi a7 petrol manual sedan surat
6                  audi a6 petrol manual sedan rajkot
7             bmw ix1 petrol manual convertible surat
8          hyundai aura petrol manual sedan dungarpur
9              bmw x7 ev automatic convertible baroda
10     skoda elroq petrol automatic hatchback udaipur
11    volkswagen virtus petrol automatic sedan rajkot
12                     kia ev6 ev automatic suv botad
13               kia ev9 ev automatic wagon bhavnagar
14        toyota fortuner diesel automatic suv rajkot
15       toyota camry petrol manual sedan gandhinagar
16       volkswagen taigun diesel manual wagon amreli
17            tata curvv petrol automatic sedan botad
18                 tata punch cng manual wagon dwarka
19               honda city petrol manual sedan kutch
20                audi q5 hybrid manual wagon udaipur
21             renault kwid cng manual hatchback idar
Name: tags, dtype: object

# Cosine distance

In [101]:
from sklearn.metrics.pairwise import cosine_similarity

In [103]:
similarity = cosine_similarity(vectors)

In [105]:
similarity[0]

array([1.        , 0.        , 0.33333333, 0.16666667, 0.5       ,
       0.16666667, 0.16666667, 0.16666667, 0.16666667, 0.16666667,
       0.33333333, 0.33333333, 0.33333333, 0.33333333, 0.16666667,
       0.16666667, 0.16666667, 0.5       , 0.16666667, 0.16666667,
       0.16666667, 0.        ])

In [107]:
def recommend(car):
    car_index = new_df[new_df['id'] == car].index[0]

    distance = similarity[car_index]
    return

In [125]:
def recommend(car):
    car_index = new_df[new_df['_id'] == car].index[0]
    distance = similarity[car_index]
    car_list = sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[1:6]

    for i in car_list:
        print(f"Brand: {new_df.iloc[i[0]].carBrand},{new_df.iloc[i[0]].carModel}")
        print()

In [111]:
new_df.iloc[2]

_id                  67a721a17dc645ca9a17c771
carBrand                                  kia
carModel                               seltos
tags        kia seltos ev automatic suv botad
Name: 2, dtype: object

In [121]:
sorted(list(enumerate(similarity[2])),reverse =True)

[(21, 0.0),
 (20, 0.0),
 (19, 0.0),
 (18, 0.0),
 (17, 0.3333333333333334),
 (16, 0.0),
 (15, 0.0),
 (14, 0.3333333333333334),
 (13, 0.5000000000000001),
 (12, 0.8333333333333336),
 (11, 0.1666666666666667),
 (10, 0.1666666666666667),
 (9, 0.3333333333333334),
 (8, 0.0),
 (7, 0.0),
 (6, 0.0),
 (5, 0.0),
 (4, 0.1666666666666667),
 (3, 0.3333333333333334),
 (2, 1.0000000000000002),
 (1, 0.1666666666666667),
 (0, 0.3333333333333334)]

In [123]:
def recommend(car):
    car_index = new_df[new_df['_id'] == car].index[0]

    distance = similarity[car_index]
    car_list = sorted(list(enumerate(distance)),reverse =True, key = lambda x:x[1])[1:6]

    for i in car_list:
        print(new_df.iloc[i[0]].carBrand)
        print()

In [127]:
recommend('67a44e5c0bf8529e3b398e3e')

Brand: bmw,ix1

Brand: tata,curvv

Brand: kia,seltos

Brand: skoda,elroq

Brand: volkswagen,virtus

In [129]:
import pickle

In [131]:
pickle.dump(new_df,open('car.pkl','wb'))

In [133]:
pickle.dump(similarity,open('similarity.pkl','wb'))