In [2]:
import pandas as pd

In [10]:

file_path = "urban_drive.cars.csv"
df = pd.read_csv(file_path)

# Display basic information and the first few rows
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    22 non-null     object
 1   userId                 22 non-null     object
 2   CarRegistrationNumber  22 non-null     object
 3   carBrand               22 non-null     object
 4   carModel               22 non-null     object
 5   yearOfRegistration     22 non-null     int64
 6   city                   22 non-null     object
 7   kmDriven               22 non-null     object
 8   chassisNumber          22 non-null     object
 9   fuelType               22 non-null     object
 10  transmissionType       22 non-null     object
 11  pricePerHour           22 non-null     int64
 12  pickupLocation         22 non-null     object
 13  seatingCapacity        22 non-null     int64
 14  bodyType               22 non-null     object
 15  startDate              22 non-null     object
 16  startTime              22 non-null     object
 17  endDate                22 non-null     object
 18  endTime                22 non-null     object
 19  coverImageBytes        22 non-null     object
 20  exteriorImageBytes     22 non-null     object
 21  interiorImageBytes     22 non-null     object
 22  created_at             22 non-null     object
 23  is_available           22 non-null     bool
dtypes: bool(1), int64(3), object(20)
memory usage: 4.1+ KB

In [12]:
df.head()

,_id,userId,CarRegistrationNumber,carBrand,carModel,yearOfRegistration,city,kmDriven,chassisNumber,fuelType,...,bodyType,startDate,startTime,endDate,endTime,coverImageBytes,exteriorImageBytes,interiorImageBytes,created_at,is_available
0,67a44e5c0bf8529e3b398e3e,67a44d3b0bf8529e3b398e3d,GJ33AB1234,HUNDAI,I20,2024,BOTAD,40-60k,45F8AF5A6F165A6A5,Petrol,...,Wagon,2025-03-01T00:00:00.000,2:00 PM,2025-03-20T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQAAAQABAAD//gA7Q1JFQVRPUjogZ2...,/9j/4AAQSkZJRgABAQAAAQABAAD/4gIoSUNDX1BST0ZJTE...,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFx...,2025-02-06T11:23:32.663Z,True
1,67a720087dc645ca9a17c76f,67a44d3b0bf8529e3b398e3d,GJ05DF4545,TOYOTA,ENOVA,2020,SURAT,>60k,50466456454646464,CNG,...,SUV,2025-02-28T00:00:00.000,12:00 AM,2025-03-28T00:00:00.000,12:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7SrmUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7TCcUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7TGsUGhvdG9zaG9wID...,2025-02-08T14:42:40.098Z,True
2,67a721a17dc645ca9a17c771,67a44d3b0bf8529e3b398e3d,GJ02DS1232,KIA,SELTOS,2022,BOTAD,>60k,JASDFS35D6F5SDFSD,EV,...,SUV,2025-03-10T00:00:00.000,12:00 AM,2025-03-31T00:00:00.000,2:00 AM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R3eUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R8QUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7QCUUGhvdG9zaG9wID...,2025-02-08T14:49:29.683Z,True
3,67a722187dc645ca9a17c772,67a44d3b0bf8529e3b398e3d,GJ02AS6398,TATA,NEXON,2023,SURAT,40-60k,54F54545S45FSD45F,EV,...,Hatchback,2025-03-15T00:00:00.000,2:00 PM,2025-04-10T00:00:00.000,8:00 AM,/9j/4AAQSkZJRgABAQAAAQABAAD/4gxYSUNDX1BST0ZJTE...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7QCUUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7R2GUGhvdG9zaG9wID...,2025-02-08T14:51:28.977Z,True
4,67a725c87dc645ca9a17c776,67a44ea30bf8529e3b398e3f,GJ12SA2055,BMW,IX1,2018,GANDHINAGAR,>60k,D45FD5F5SD5FDFD55,Petrol,...,Wagon,2025-02-27T00:00:00.000,8:00 PM,2025-03-07T00:00:00.000,8:00 PM,/9j/4AAQSkZJRgABAQEBLAEsAAD/7RwEUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7RsMUGhvdG9zaG9wID...,/9j/4AAQSkZJRgABAQEBLAEsAAD/7QCUUGhvdG9zaG9wID...,2025-02-08T15:07:12.855Z,False

In [61]:
top_5_cities = df["city"].value_counts().head(5)
top_5_cities

city
BOTAD          4
SURAT          4
RAJKOT         3
GANDHINAGAR    2
UDAIPUR        2
Name: count, dtype: int64

In [51]:
df["city"].head()

0          BOTAD
1          SURAT
2          BOTAD
3          SURAT
4    GANDHINAGAR
Name: city, dtype: object

In [53]:
top_car = df.groupby(["carBrand", "carModel"]).size().idxmax()

In [55]:
top_car

('BMW', 'IX1')

In [59]:
top_5_cars = df.groupby(["carBrand", "carModel"]).size().nlargest(5)
top_5_cars

carBrand  carModel
BMW       IX1         2
AUDI      A6          1
          A7          1
          Q5          1
BMW       X7          1
dtype: int64

In [64]:
cd

C:\Users\Nayan